## include the CLI parameters here
## Provide either "Startup[]" or "Shutdown[]", depending on where you placed the script in.
## Use the filename within the brackets. Not absolute path, just the filename.
## example:
# Startup[load-modules.sh] = --param1 --param2 /dev/sda1 /mnt